{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <body> 
          <ul> 
            {% for item in items %}
            <li>{{ item.title }}</li>
            {% endfor %}
          </ul> 
        </body> 
        <form action="" method = "POST">
          <div>
            
            <label for="title">Todo Title: </label>
            <input type="text" id ="title" name="title" placeholder = "Enter Todo...">
            <br>
            <button type="submit">Add</button>
           
          </div>
        </form>
      </ul>
    </div>
  </div>
{% endblock %}